:root {
    --mydark: #131C25;
    --mypurple: #DF18A6;
}

.legion-background {
    background: #161616;
    background-image: url("/images/background_1_1920x1080.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bg-dark {
    background-color: var(--mydark) !important;
}

.btn-mydark {
    background-color: var(--mydark);
    border-color: var(--mydark);
}

.rounded-back {
    border-radius: 15px;
}

.wide {
    width: 90%;
}

.mylink {
    text-decoration: none;
    color: var(--mypurple);
}

.file {
    visibility: hidden;
    position: absolute;
}

.image-upload {
    max-height: 25vh;
    max-width: 100%;
}

.file-upload {
    position: absolute;
    opacity: 0;
}

.no-underline {
    text-decoration: none !important;
}

.btn {
    border-radius: 10px;
}

img.fill {
    max-width: 100%;
}