<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/fragments::imports"></span>
</head>

<body class="legion-background">
<div th:replace="fragments/fragments::nav"></div>
<main style="padding-bottom: 25px;margin: 25px;/*width: 96%;*/background-color: white;border-radius: 10px;">
    <div class="container rounded-back">
        <div class="container">
            <h1 style="padding-left: 25px;padding-top: 25px;">Profile check</h1>
            <p style="padding-left: 25px;max-width: 450px;">You are able to invoke profile check on other people if you
                have the sufficient permissions.</p>
        </div>
        <div class="container" style="padding-top: 50px;">
            <div class="row">

                <div class="col-md-6">
                    <form th:action="@{/identity/check/validate}" th:method="post">
                        <input name="goldenToken" th:value="${goldenToken}" hidden>
                        <input name="platinumTokenLeft" th:value="${platinumTokenLeft}" hidden>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4">
                                        <p style="margin-left: 25px;">Platinum token:</p>
                                    </div>
                                    <div class="col"><input name="platinumTokenRight" type="text"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4">
                                        <p style="margin-left: 25px;">First name:</p>
                                    </div>
                                    <div class="col"><input th:field="${bindingModel.firstName}" name="firstName" type="text"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4">
                                        <p style="margin-left: 25px;">Father's name:</p>
                                    </div>
                                    <div class="col"><input th:field="${bindingModel.middleName}" name="middleName" type="text"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4">
                                        <p style="margin-left: 25px;">Surname:</p>
                                    </div>
                                    <div class="col"><input th:field="${bindingModel.lastName}" name="lastName" type="text"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4">
                                        <p style="margin-left: 25px;">Date of birth:</p>
                                    </div>
                                    <div class="col"><input th:field="${bindingModel.dateOfBirth}" name="dateOfBirth" type="date"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="submit"
                                       class="btn btn-primary btn-dark"
                                       style="margin-top: 10px;margin-left: 25px;border-radius: 10px;"
                                       value="Check">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-6">
                    <p style="max-width: 500px;">Fill in the details of the identity you want to check. If the
                        provided
                        golden token is&nbsp;associated with sufficient permissions you will get the desired output.<br><br>Note:
                        The person, whose identity you are trying to confirm will receive a notification about this
                        process.</p>
                </div>

            </div>
        </div>
    </div>
</main>
</body>

</html>