<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/fragments::imports"></span>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="/fonts/identity-check/font-awesome.min.css">
    <link rel="stylesheet" href="/css/identity-check/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div><a class="navbar-brand" href="#"><span>Creativarian </span> </a></div>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
                <ul class="navbar-nav nav-right">
                    <li class="nav-item"><a class="nav-link active" href="index.html" style="color: rgba(224,217,217,0.9);">home </a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgba(224,217,217,0.9);">Services </a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="services.html">Price Packages</a><a class="dropdown-item" href="#">Order Services</a><a class="dropdown-item" href="#">Custom Request</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="about.html" style="color: rgba(224,217,217,0.9);">about </a></li>
                    <li class="nav-item"><a class="nav-link" href="faq.html" style="color: rgba(224,217,217,0.9);">faq </a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html" style="color: rgba(224,217,217,0.9);">contact </a></li>
                </ul>
                <p class="ms-auto navbar-text actions"><a class="login" href="login.html" style="color: rgba(224,217,217,0.9);">Log In</a> <a class="btn btn-light action-button" role="button" href="signup.html" style="color: rgba(0,0,0,0.9);background: var(--bs-gray-200);border-radius: 10px;border-style: solid;border-color: rgba(0,0,0,0.9);font-size: 16px;padding: 5px 8px;">Sign Up</a></p>
            </div>
        </div>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <div id="sidenavAccordion" class="sb-sidenav accordion sb-sidenav-dark">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div>
                            <div class="sb-sidenav-menu-heading"><span>Main</span></div><a class="nav-link active" href="#">
                                <div class="sb-nav-link-icon"><i class="fa fa-dashboard"></i></div><span>Access monitor</span>
                            </a><a class="nav-link active" href="#">
                                <div class="sb-nav-link-icon"><i class="fa fa-eercast"></i></div><span>Golden token</span>
                            </a>
                        </div>
                        <div>
                            <div class="sb-sidenav-menu-heading"><span>Personal data</span></div><a class="nav-link active" href="#">
                                <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div><span>Profile check</span>
                            </a><a class="nav-link active" href="#">
                                <div class="sb-nav-link-icon"><i class="fa fa-lock"></i></div><span>Identity</span>
                            </a>
                        </div>
                        <div>
                            <div class="sb-sidenav-menu-heading"><span>More</span></div><a class="nav-link collapsed" href="#" aria-expanded="false" aria-controls="collapse2" data-bs-toggle="collapse" data-bs-target="#collapse2">
                                <div class="sb-nav-link-icon"><i class="fa fa-question"></i></div><span>Help</span>
                                <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                            </a>
                            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-bs-parent="#sidenavAccordion">
                                <div id="sidenavAccordionPages" class="sb-sidenav-menu-nested nav accordion"><a class="nav-link collapsed" href="#" aria-expanded="false" aria-controls="pagesCollapseAuth" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth"><span>Menu Item</span>
                                        <div class="sb-sidenav-collapse-arrow"><i class="fa fa-angle-down"></i></div>
                                    </a>
                                    <div id="pagesCollapseAuth" class="collapse" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <div class="sb-sidenav-menu-nested nav"><a class="nav-link" href="#">Menu Item</a><a class="nav-link" href="#">Menu Item</a><a class="nav-link" href="#">Menu Item</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small"><span>Logged as : Example user</span></div>
                </div>
            </div>
        </div>
        <div id="layoutSidenav_content" style="background-image: url(&quot;/images/identity-check/blockchain.jpg&quot;);">
            <main style="padding-bottom: 25px;margin: 25px;/*width: 96%;*/background-color: white;border-radius: 10px;">
                <div class="container">
                    <h1 style="padding-left: 25px;padding-top: 25px;">Profile check</h1>
                    <p style="padding-left: 25px;max-width: 450px;">You are able to invoke profile check on other people if you have the sufficient permissions.</p>
                </div>
                <div class="container" style="padding-top: 50px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-4">
                                            <p style="margin-left: 25px;">Golden token:</p>
                                        </div>
                                        <div class="col"><input type="text"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-4">
                                            <p style="margin-left: 25px;">First name:</p>
                                        </div>
                                        <div class="col"><input type="text"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-4">
                                            <p style="margin-left: 25px;">Father's name:</p>
                                        </div>
                                        <div class="col"><input type="text"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-4">
                                            <p style="margin-left: 25px;">Surname:</p>
                                        </div>
                                        <div class="col"><input type="text"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-4">
                                            <p style="margin-left: 25px;">Date of birth:</p>
                                        </div>
                                        <div class="col"><input type="text"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col"><button class="btn btn-primary btn-dark" style="margin-top: 10px;margin-left: 25px;border-radius: 10px;">Check</button></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p style="max-width: 500px;">Fill in the details of the identity you want to check. If the provided golden token is&nbsp;associated with sufficient permissions you will get the desired output.<br><br>Note: The person, whose identity you are trying to confirm will receive a notification about this process.</p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>