<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/fragments::imports"></span>
    <link rel="stylesheet" href="/css/monitor/styles.min.css">

</head>

<body class="legion-background">
<div th:replace="fragments/fragments::nav"></div>
<div id="layoutSidenav">
    <div th:replace="fragments/fragments::sideNav"></div>
    <div id="layoutSidenav_content">
        <main style="padding-bottom: 10px;margin: 25px;width: 96%;background-color: white;border-radius: 10px;">
            <div class="container" style="padding: 25px;border-color: white;/*margin-left: 25px;*/width: 97%;">
                <div class="card py-3 px-3 rounded-back" id="TableSorterCard"
                     style="border-color: white;/*width: 90%;*/">
                    <div class="row">
                        <div class="col">
                            <h1>Access monitor</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="max-width: 450px;font-size: 20px;">Check out who has access to your information
                                and details to the authentication.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div style="text-align: center;">
                                <table class="table table tablesorter" id="ipi-table">
                                    <thead class="thead-dark">
                                    <tr style="background-color: rgb(60,60,60);">
                                        <th>Name</th>
                                        <th class="sorter-false">IP address</th>
                                        <th class="filter-false">Location</th>
                                        <th class="filter-false sorter-false">Platinum key</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Facebook</td>
                                        <td>157.240.9.35</td>
                                        <td>Sofia, Bulgaria</td>
                                        <td>qwertyuiopasdfghjklzxcvbnm</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="/js/monitor/script.min.js"></script>
</body>

</html>