<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/fragments::imports"></span>

</head>

<body class="legion-background">
<div th:replace="fragments/fragments::nav"></div>
<div class="container">
    <div class="row mt-5 py-3 px-3 rounded-back bg-white">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h1>Access monitor</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <p>Check out who has access to your information
                    and details to the authentication.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="text-center">
                    <table class="table">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">IP address</th>
                            <th scope="col">Location</th>
                            <th scope="col">Platinum token</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="r : ${dataMonitorViewModel.requests}">
                            <td th:text="${r.name}">Facebook</td>
                            <td th:text="${r.ip}">157.240.9.35</td>
                            <td th:text="${r.location}">Sofia, Bulgaria</td>
                            <td th:text="${r.platinumToken.substring(r.platinumToken.length() / 2)}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/monitor/script.min.js"></script>
</body>
</html>