<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/fragments::imports"></span>
    <link rel="stylesheet" href="/css/token/styles.min.css">
</head>

<body class="legion-background">
<div th:replace="fragments/fragments::nav"></div>
<div id="layoutSidenav">
    <div th:replace="fragments/fragments::sideNav"></div>
    <div id="layoutSidenav_content">
        <main style="padding-bottom: 10px;margin: 25px;width: 96%;background-color: white;border-radius: 10px;">
            <div class="container">
                <h1 style="padding-left: 25px;padding-top: 25px;">Golden token</h1>
                <p style="padding-left: 25px;max-width: 450px;">Be sure to keep your golden token safe from others, it's
                    your primary way of authentication.</p>
            </div>
            <div class="container">
                <div class="row" style="padding-top: 50px;">
                    <div class="col-6">
                        <p style="margin-top: 5px;font-size: 20px;font-style: italic;font-weight: bold;padding-left: 25px;/*padding-top: 50px;*/">
                            <span style="font-weight: normal;font-style: normal;padding-right: 15px;">Your token:</span>1f273f28-c7e3-4760-ae48-c271e12d2909<br>
                        </p>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary btn-dark" type="button"
                                style="border-radius: 10px;font-size: 15px;">Copy
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p style="margin-top: 5px;font-size: 17px;font-style: italic;font-weight: bold;padding-left: 25px;/*padding-top: 50px;*/">
                            <span style="font-weight: normal;font-style: normal;padding-right: 15px;">Expires:</span>expired<br>
                        </p>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary btn-dark" type="button"
                                style="border-radius: 10px;font-size: 15px;">Generate a new one
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col"></div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>

</html>