<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/fragments::imports"></span>
    <script type="module" src="/js/token/app.js"></script>
</head>

<body class="legion-background">
<div th:replace="fragments/fragments::nav"></div>

<div class="container">
    <div class="row mt-5 py-3 px-3 rounded-back bg-white">
        <div class="col-1"></div>

        <div class="col-11">
            <h1>Golden tokens</h1>
            <div class="col-6">
                <p>Be sure to keep your golden tokens safe from others,
                    they are
                    your primary way of authentication.</p>
            </div>
            <div class="col-6">
                <p>Select the permissions to your token which an
                    authority can check!</p>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-10">

            <div class="text-center table-responsive">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th class="filter-false"></th>
                        <th>Token</th>
                        <th class="sorter-false">Expiry</th>
                        <th class="filter-false" th:each="p : ${permissions}" th:text="${p.fieldName}"></th>
                        <th class="filter-false"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="token : ${tokens}">
                        <td>
                            <button class="btn btn-primary btn-dark copy-btn">Copy</button>
                        </td>
                        <td th:text="${token.id}" class="token-id"></td>
                        <td th:text="${#temporals.format(token.expiry, 'HH:mm:ss')}"></td>
                        <form th:action="@{/token/golden/permission}" th:method="post">
                            <input name="goldenToken" th:value="${token.id}" hidden>
                            <td th:each="p : ${token.permissions}">
                                <input type="checkbox" th:checked="${p.allowed}" name="permission"
                                       th:value="${p.id}">
                            </td>
                            <td><input class="btn btn-primary btn-dark" type="submit" value="Alter"></td>
                        </form>
                    </tr>

                    </tbody>
                </table>
                <div class="text-center">
                    <a class="btn btn-dark"
                       th:href="@{/token/golden/generate}">Generate a new one</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>