<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="fragments/fragments::imports"></span>
    <link rel="stylesheet" href="/css/token/styles.min.css">
    <script type="module" src="/js/token/app.js"></script>
</head>

<body class="legion-background">
<div th:replace="fragments/fragments::nav"></div>
<div id="layoutSidenav">
    <div th:replace="fragments/fragments::sideNav"></div>
    <div id="layoutSidenav_content">
        <main style="padding-bottom: 10px;margin: 25px;width: 96%;background-color: white;border-radius: 10px;">
            <div class="container">
                <h1 style="padding-left: 25px;padding-top: 25px;">Golden token</h1>
                <p style="padding-left: 25px;max-width: 450px;">Be sure to keep your golden token safe from others, it's
                    your primary way of authentication.</p>
            </div>
            <div class="container">
                <div class="row" style="padding-top: 50px;">
                    <div class="col-6">
                        <p style="margin-top: 5px;font-size: 20px;font-style: italic;font-weight: bold;padding-left: 25px;/*padding-top: 50px;*/">
                            <span style="font-weight: normal;font-style: normal;padding-right: 15px;">Your token:</span>
                            <span id="goldenTokenField" th:if="${activeToken}" th:text="${goldenToken}"></span>
                            <span th:unless="${activeToken}">Expired</span>
                            <br>
                        </p>
                        <p style="margin-top: 5px;font-size: 20px;font-style: italic;font-weight: bold;padding-left: 25px;/*padding-top: 50px;*/" th:if="${activeToken}">
                            <span style="font-weight: normal;font-style: normal;padding-right: 15px;">Expires:</span>
                            <span th:text="${#temporals.format(goldenTokenExpiry, 'HH:mm:ss')}">Expiry</span>
                        </p>
                    </div>
                    <div th:if="${activeToken}" class="col">
                        <button id="copyTokenButton"
                                class="btn btn-primary btn-dark" type="button"
                                style="border-radius: 10px;font-size: 15px;">Copy
                        </button>
                        <span id="copiedMessage" hidden>Copied</span>
                    </div>
                    <div th:unless="${activeToken}" class="col">
                        <a class="btn btn-primary btn-dark"
                           th:href="@{/token/golden/generate}"
                           style="border-radius: 10px;font-size: 15px;">Generate a new one</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <form th:if="${activeToken}" th:action="@{/token/golden/permission}" th:method="post">
                            <div th:each="p : ${permissions}">
                                <input type="checkbox" th:id="${p.id}" th:value="${p.id}" name="permission" th:checked="${p.allowed}">
                                <label th:for="${p.id}" th:text="${p.fieldName}"></label>
                            </div>
                            <input type="submit" class="btn btn-primary btn-dark" value="Alter">
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>

</html>